<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Nexus Electric</title>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'css/site.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/glyphicons.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block headextras %}{% endblock %}
</head> 
<body style="background-image: url('/static/images/original.png'); background-repeat: repeat;background-position: center top;">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">Nexus Electric</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/energy/about" target="nexuselectirc.about" onclick="check_window_status(this, event)"><span class="glyphicon glyphicon-tags"></span>&nbsp;About</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><p>Welcome, {{ user.username }}</p></li>
                        <li class="nav-item"><a class="nav-link" href="/energy/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Log out</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/energy/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <form method="POST" onsubmit="return _submit_handler(event);" id="mainform">
        {% csrf_token %}
        <div class="container" style="padding-top:1.5em;">
            {% block maincontent %}{% endblock %}
            <hr />
            <footer>
                <p>&copy; BringItOhm - Nexus Electric</p>
            </footer>
        </div>

    </form>
</body>
</html>